@page "/Munkalapok"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inherits AppDbContext

<PageTitle>MunkaLapok</PageTitle>
<h3>munkalapok</h3>

@if (autok_TulajNev_Viewes == null)
{
    <h1>Az egész táblázat üres</h1>
}
else
{
    <RadzenDataGrid Render="@OnRender" PageSize="5" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@autok_TulajNev_Viewes" ColumnWidth="400px">
        <Columns>
            <RadzenDataGridColumn>
                <RadzenButton class="btn btn-success">
                    Nyomtatás
                </RadzenButton>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Nev)" Title="Név" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Email)" Title="Email" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Telefonszam)" Title="TelefonSzám" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.AlvazSzam)" Title="AlvázSzám" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Marka)" Title="Márka" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Rendszam)" Title="Rendszám" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Tipus)" Title="Tipus" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Uzemanyag)" Title="Üzemanyag" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Motor)" Title="Motor" Width="150px" />
            <RadzenDataGridColumn Property="@nameof(Autok_TulajNev_View.Leiras)" Title="Leirás" Width="150px" />
        </Columns>

    </RadzenDataGrid>
}
@code {
    IEnumerable<Autok_TulajNev_View> autok_TulajNev_Viewes;

    protected async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        autok_TulajNev_Viewes = AppDbContext.autok_TulajNev_Viewes;
    }

    void OnRender(DataGridRenderEventArgs<Autok_TulajNev_View> args)
    {
        if (args.FirstRender)
        {
            args.Grid.Sorts.Add(new SortDescriptor() { Property = "BirthDate", SortOrder = SortOrder.Descending });
            args.Grid.Sorts.Add(new SortDescriptor() { Property = "LastName", SortOrder = SortOrder.Ascending });
        }
    }
}