@page "/users/SzereloMunkalapok"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject SzakDolgozat.SQL.Interfaces.ISzerelo_Munka_View Szerelo_Munka_View_Service
@inject SzakDolgozat.SQL.Interfaces.IMunkalap Munkalap_Service


<h3>Munkalapok</h3>

<!-- Hozzáadás gomb a weboldal tetején -->
<br />
<RadzenButton class="my-3" Icon="clear" Text="Szűrők törlése" ButtonStyle="ButtonStyle.Danger" Click="@OnClearFiltersClick" />
@if (munkalapok == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H2" class="rz-my-6">Munkalapok</RadzenText>
    <RadzenDataGrid @ref="grid" Data="@munkalapok" FilterMode="FilterMode.Simple" AllowFiltering="true" AllowPaging="true" AllowSorting="true" ColumnWidth="200px">
        <Columns>
            <!-- Nyomtatás gomb -->
            <RadzenDataGridColumn Title="Gombok" Sortable="false">
                <Template Context="data">
                    <RadzenButton Icon="print" Text="MunkaFolyamatok " ButtonStyle="ButtonStyle.Primary" Click="@(args => OnNavigateTo(data))" />
                    @if (data.Statusz == StatuszEnum.MunkaElfogadasraVar)
                    {
                        <RadzenButton Icon="print" Text="Elfogadas" ButtonStyle="ButtonStyle.Primary" Click="@(args => OnAcceptClick())" />
                    }
                    else if (data.Statusz == StatuszEnum.Szereles)
                    {
                        <RadzenButton Icon="print" Text="MunkaFélbehagyása" ButtonStyle="ButtonStyle.Dark" Click="@(args => OnWaitingClick())" />
                    }
                    else if (data.Statusz == StatuszEnum.AlkatreszreVar)
                    {
                        <RadzenButton Icon="print" Text="MunkaFolytatása" ButtonStyle="ButtonStyle.Dark" Click="@(args => OnWorkingClick())" />
                    }
                    @if ((data.Statusz == StatuszEnum.Szereles || data.Statusz == StatuszEnum.AlkatreszreVar) && data.MunkaIdo == null)
                    {
                        <RadzenDataGridColumn Property="MunkaIdo" Title="Munkaideje">
                            <FilterTemplate>
                                <RadzenNumeric @bind-Value="@selectedMunkaIdo2" Style="width:100%;" />
                                <RadzenButton Icon="print" Text="MunkaIdő" ButtonStyle="ButtonStyle.Dark" Click="@(args => OnTimeClick())" />
                                <RadzenTextBox @bind-Value="@error" Style="width:100%;" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                    }
                    @if ( data.MunkaIdo != null && data.MunkaKezdete != null)
                    {
                        <RadzenButton Icon="print" Text="MunkaFolytatása" ButtonStyle="ButtonStyle.Dark" Click="@(args => OnFinishClick())" />
                    }

                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="TulajNev" Title="Tulajdonos Neve" FilterValue="@selectedTulajNev">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedTulajNev" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Telefonszam" Title="Telefonszám" FilterValue="@selectedTelefonszam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedTelefonszam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Email" Title="Email" FilterValue="@selectedEmail">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedEmail" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Statusz" Title="Státusz" FilterValue="@selectedStatusz">
                <FilterTemplate>
                    <RadzenDropDown Data="@statuszOptions" @bind-Value="@selectedStatusz" Style="width:100%;" /><!--Itt valami gondok vannak ha Tvaluet irok be-->
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="AlvazSzam" Title="Alvázszám" FilterValue="@selectedAlvazSzam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedAlvazSzam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Rendszam" Title="Rendszám" FilterValue="@selectedRendszam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedRendszam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Marka" Title="Márka" FilterValue="@selectedMarka">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedMarka" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="MunkaKezdete" Title="Munka Kezdete" FormatString="{0:d}" FilterValue="@selectedMunkaKezdete">
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value="@selectedMunkaKezdete" Style="width:100%;" AllowClear="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <!-- MunkaIdo, amely int típusú -->
            <RadzenDataGridColumn Property="MunkaIdo" Title="Munkaidő (óra)" FilterValue="@selectedMunkaIdo">
                <FilterTemplate>
                    <RadzenNumeric @bind-Value="@selectedMunkaIdo" ShowUpDown="false" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Keltezes" Title="Keltezés" FormatString="{0:d}" FilterValue="@selectedKeltezes">
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value="@selectedKeltezes" Style="width:100%;" AllowClear="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Osszkoltseg" Title="Összköltség">
                <FilterTemplate>

                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="TitkarNev" Title="TitkárNév" FilterValue="@selectedTitkarNev">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedTitkarNev" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="Leiras" Title="Leiras">
                <FilterTemplate>

                </FilterTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    RadzenDataGrid<Szerelo_Munka_View> grid;
    private List<Szerelo_Munka_View> munkalapok = new();
    private Munkalap munka2 = new();
    private List<StatuszEnum> statuszOptions = new();
    DateTime dateTime = DateTime.Now;

    public static string bejelentkezettfelhasznaloNev;
    public static Guid aktualisMunkaFolyamatID;
    public static Guid bejelentkezettID;
    // Szűrő változók
    private string selectedTulajNev;
    private string selectedTelefonszam;
    private string selectedEmail;
    private StatuszEnum? selectedStatusz;
    private string selectedAlvazSzam;
    private string selectedRendszam;
    private string selectedMarka;
    private DateTime? selectedMunkaKezdete;
    private int? selectedMunkaIdo;
    private int? selectedMunkaIdo2;// int típusú szűrő
    private DateTime? selectedKeltezes;
    private long selectedOsszkoltseg;
    private string selectedTitkarNev;
    private string error;
    protected override async Task OnInitializedAsync()
    {
        statuszOptions = Enum.GetValues(typeof(StatuszEnum)).Cast<StatuszEnum>().ToList();
        var uri = new Uri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        bejelentkezettfelhasznaloNev = query["bejelentkezettfelhasznaloNev"];
        Guid.TryParse(query["bejelentkezettID"], out bejelentkezettID);
        // Adatok lekérése
        munkalapok = await Szerelo_Munka_View_Service.GetSzerelo_Munka_Viewok();
    }
    public async void OnAcceptClick()
    {

        munka2.Statusz = StatuszEnum.Szereles;
        munka2.MunkaKezdete = dateTime;
        await Munkalap_Service.UpdateMunkalap(munka2);
    }
    public async void OnWorkingClick()
    {

        munka2.Statusz = StatuszEnum.Szereles;
        await Munkalap_Service.UpdateMunkalap(munka2);
    }
    public async void OnWaitingClick()
    {

        munka2.Statusz = StatuszEnum.AlkatreszreVar;
        await Munkalap_Service.UpdateMunkalap(munka2);
    }
    public async void OnTimeClick()
    {

        if (selectedMunkaIdo == null)
        {
            error = "NIncs megadva Munkaidő";
        }
        else if (selectedMunkaIdo <= 0)
        {
            error = "A munkaidő nem lehet 0-náűl kisebb";
        }
        else
        {
            munka2.MunkaIdo = selectedMunkaIdo2;
        }
    }
    public async void OnFinishClick()
    {

        munka2.Keltezes = dateTime;
        munka2.Statusz = StatuszEnum.NyomtatasraVar;
        await Munkalap_Service.UpdateMunkalap(munka2);
    }
    public async void OnNavigateTo(Szerelo_Munka_View data)
    {
        aktualisMunkaFolyamatID = data.ID;
        Navigation.NavigateTo($"/users/SzereloMunkalapok/MunkaFolyamatok?bejelentkezettfelhasznaloNev={Uri.EscapeDataString(bejelentkezettfelhasznaloNev)}&aktualisMunkaFolyamatID={aktualisMunkaFolyamatID}");
    }
    
    async Task OnClearFiltersClick()
    {
        selectedTulajNev = null;
        selectedTelefonszam = null;
        selectedEmail = null;
        selectedStatusz = null;
        selectedAlvazSzam = null;
        selectedRendszam = null;
        selectedMarka = null;
        selectedMunkaKezdete = null;
        selectedMunkaIdo = null;
        selectedMunkaIdo2 = null;
        selectedKeltezes = null;
        selectedTitkarNev = null;

        // Adatok újra lekérése
        munkalapok = await Szerelo_Munka_View_Service.GetSzerelo_Munka_Viewok();
    }
}