@page "/Munkalapok"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject SzakDolgozat.SQL.Interfaces.ITitkar_Munkalapok_View Titkar_Munkalapok_View_Service
@using SzakDolgozat.SQL.Models
@using SzakDolgozat.SQL.Enum


<h3>Munkalapok</h3>

<!-- Hozzáadás gomb a weboldal tetején -->
<RadzenButton class="my-3" Icon="add_circle" Text="Hozzáadás" Click="@OnAddClick" />
<br />
<RadzenButton class="my-3" Icon="clear" Text="Szűrők törlése" ButtonStyle="ButtonStyle.Danger" Click="@OnClearFiltersClick" />
@if (munkalapok == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H2" class="rz-my-6">Munkalapok</RadzenText>
    <RadzenDataGrid @ref="grid" Data="@munkalapok" FilterMode="FilterMode.Simple" AllowFiltering="true" AllowPaging="true" AllowSorting="true" ColumnWidth="200px">
        <Columns>
            <!-- Nyomtatás gomb -->
                    <RadzenDataGridColumn Title="Nyomtatás" Sortable="false">
                        <Template Context="data">
                            @if (data.Statusz == StatuszEnum.NyomtatasraVar)
                                    {
                                        <RadzenButton Icon="print" Text="Nyomtatás" ButtonStyle="ButtonStyle.Primary" Click="@(args => OnPrintClick(data))" />  
                                    }
                            else if (data.Statusz == StatuszEnum.Befejezett)
                                    {
                                        <RadzenButton Icon="print" Text="Nyomtatás" ButtonStyle="ButtonStyle.Dark" Click="@(args => OnPrintClick(data))" />
                                    }
                                    else
                                    {
                                       <RadzenButton Icon="print" Text="Nyomtatás" ButtonStyle="ButtonStyle.Danger" />
                                    }
                         </Template>
                     </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="SzereloNev" Title="Szerelő Neve" FilterValue="@selectedSzereloNev">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedSzereloNev" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="TulajNev" Title="Tulajdonos Neve" FilterValue="@selectedTulajNev">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedTulajNev" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Telefonszam" Title="Telefonszám" FilterValue="@selectedTelefonszam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedTelefonszam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Email" Title="Email" FilterValue="@selectedEmail">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedEmail" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Statusz" Title="Státusz" FilterValue="@selectedStatusz">
                <FilterTemplate Context="data">
                    <RadzenDropDown @bind-Value="@selectedStatusz" Style="width:100%;" Data="@(statuszOptions)" AllowClear="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="AlvazSzam" Title="Alvázszám" FilterValue="@selectedAlvazSzam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedAlvazSzam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Rendszam" Title="Rendszám" FilterValue="@selectedRendszam">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedRendszam" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Marka" Title="Márka" FilterValue="@selectedMarka">
                <FilterTemplate>
                    <RadzenTextBox @bind-Value="@selectedMarka" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="MunkaKezdete" Title="Munka Kezdete" FormatString="{0:d}" FilterValue="@selectedMunkaKezdete">
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value="@selectedMunkaKezdete" Style="width:100%;" AllowClear="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <!-- MunkaIdo, amely int típusú -->
            <RadzenDataGridColumn Property="MunkaIdo" Title="Munkaidő (óra)" FilterValue="@selectedMunkaIdo">
                <FilterTemplate>
                    <RadzenNumeric @bind-Value="@selectedMunkaIdo" ShowUpDown="false" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Keltezes" Title="Keltezés" FormatString="{0:d}" FilterValue="@selectedKeltezes">
                <FilterTemplate>
                    <RadzenDatePicker @bind-Value="@selectedKeltezes" Style="width:100%;" AllowClear="true" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Osszkoltseg" Title="Összköltség" FilterValue="@selectedOsszkoltseg">
                <FilterTemplate>
                    <RadzenNumeric @bind-Value="@selectedOsszkoltseg" Style="width:100%;" />
                </FilterTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    RadzenDataGrid<Titkar_Munkalapok_View> grid;
    IEnumerable<Titkar_Munkalapok_View> munkalapok;
    // Szűrő változók
    private string selectedSzereloNev;
    private string selectedTulajNev;
    private string selectedTelefonszam;
    private string selectedEmail;
    private StatuszEnum? selectedStatusz;
    private string selectedAlvazSzam;
    private string selectedRendszam;
    private string selectedMarka;
    private DateTime? selectedMunkaKezdete;
    private int? selectedMunkaIdo;  // int típusú szűrő
    private DateTime? selectedKeltezes;
    private long? selectedOsszkoltseg;

    private IEnumerable<StatuszEnum> statuszOptions = Enum.GetValues(typeof(StatuszEnum)).Cast<StatuszEnum>();

    protected override async Task OnInitializedAsync()
    {
        // Adatok lekérése
        munkalapok = await GetMunkalapok();
    }

    private Task<List<Titkar_Munkalapok_View>> GetMunkalapok()
    {
        // Az adatokat a Titkar_Munkalapok_View_Service osztályból kell lekérni
        // Ebben a példában azt feltételezem, hogy a szolgáltatás elérhető és a megfelelő adatokat hozza vissza.
        return Task.FromResult(new List<Titkar_Munkalapok_View>
        {
            new Titkar_Munkalapok_View
            {
                SzereloNev = "János",
                TulajNev = "Péter",
                Telefonszam = "123456789",
                Email = "janos.peter@example.com",
                Statusz = StatuszEnum.Befejezett,
                AlvazSzam = "ABCD123456",
                Rendszam = "XYZ-123",
                Marka = "Toyota",
                MunkaKezdete = DateTime.Now,
                MunkaIdo = 5,  // MunkaIdo int típusú
                Keltezes = DateTime.Now,
                Osszkoltseg = 15000,
                TitkarNev = "Kiss Ádám"
            }
        });
    }

    void OnPrintClick(Titkar_Munkalapok_View data)
    {
        // Itt implementálhatod a nyomtatás logikáját, pl. egy PDF generálása vagy oldal nyomtatása
        Console.WriteLine($"Nyomtatás: {data.Rendszam}");
    }

    void OnAddClick()
    {
        // A hozzáadás gomb kattintása után végrehajtandó művelet
        // Itt például egy modális ablakot nyithatsz meg, vagy új oldalt jeleníthetsz meg
        Console.WriteLine("Hozzáadás gomb kattintva!");
    }
    async Task OnClearFiltersClick()
    {
        selectedSzereloNev = null;
        selectedTulajNev = null;
        selectedTelefonszam = null;
        selectedEmail = null;
        selectedStatusz = null;
        selectedAlvazSzam = null;
        selectedRendszam = null;
        selectedMarka = null;
        selectedMunkaKezdete = null;
        selectedMunkaIdo = null;
        selectedKeltezes = null;
        selectedOsszkoltseg = null;

        // Adatok újra lekérése
        munkalapok = await GetMunkalapok();
    }
}